<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'store:product_list' %}">Gadget Galaxy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'store:category_list' %}">Categories</a>
                </li>
                
            </ul>
            <div class="d-flex">
                <a href="#" class="btn btn-outline-light me-2">Cart</a>
            </div>
        </div>
    </div>
</nav>