<footer class="bg-primary text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Gadget Galaxy</h5>
                <p>Your one-stop shop for the latest electronic gadgets.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'store:product_list' %}" class="text-white">Products</a></li>
                    <li><a href="{% url 'store:category_list' %}" class="text-white">Categories</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <address>
                    Email: info@gadgetgalaxy.com<br>
                    Phone: (123) 456-7890
                </address>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; {% now "Y" %} Gadget Galaxy. All rights reserved.</p>
        </div>
    </div>
</footer>